<div class="buttonContainer" (click)="toggleMenu()">
  <div class='menuButton'></div>
</div>
<div class="devMenu" *ngIf="showMenu">
  <div class="options">
    <h2>Load json</h2>
    <input type="file" id="fileInput" (change)="loadJsonFile($event)" />
    <p class="inputTitle">Remote json url:</p>
    <input name="jsonUrl" [(ngModel)]="jsonUrl" #ctrl="ngModel" type="text" placeholder="http://url..."/>
    <button (click)="loadJsonUrl()">Get Now</button>
    <h3>{{activeJSON ? "Active game: "  + activeJSON : "No active json"}}</h3>


    <h2>Sync/Autostart</h2>
    <p class="inputTitle">Remote sync url:</p>
    <input name="syncUrl" [(ngModel)]="syncUrl" type="text" placeholder="http://url..."/>
    <button (click)="getRemoteSyncTime()">Sync Now</button>
    <h3 type="text">{{timestamp ? "Starting at: "  + timestamp : "No timestamp set"}}</h3>
    <h2 class="countdown">{{countdown}} Seconds</h2>

    <h2>Game speed</h2>
    <input type="range" min="25" max="300" step="1" [(ngModel)]="gameSpeed" (ngModelChange)="setGameSpeed($event)"/>
    <h3>{{gameSpeed}} milliseconds pr. action</h3>
  </div>
</div>
