<div *ngIf="player.seatstate !== 'not-active'" class="player" class="state_{{player.seatstate}}">
    <div *ngIf="player.win_chance != null" class="player__win--chance">{{player.win_chance}}%</div>
    <div *ngIf="player.action" class="player__call">{{player.action}}</div>
    <div>
        <div class="player__avatar" [ngStyle]="{'background-color':visualSettings[playerNo].color}"
            [ngClass]="{'glow' : player.next_to_act}"><img [src]="imgurl"></div>
        <div class="player__cards">
            <app-card-group [cards]="player.cards!"></app-card-group>
        </div>
        <div class="player__information" [ngStyle]="{'border-color':visualSettings[playerNo].color}">
            <div class="player__information--name">{{player.name}}</div>
            <div class="player__information--score">${{player.stack}}</div> 
            <!-- <div *ngIf="player.seatstate === 'small-blind' && player.winner != true" class="player__information--small-blind">Small blind</div>
            <div *ngIf="player.seatstate === 'big-blind' && player.winner != true" class="player__information--big-blind">Big blind</div> -->
            <div *ngIf="player.seatstate === 'out'" class="player__information--big-blind">#{{player.out_position!}}</div>
            <div *ngIf="player.dealer && player.winner != true" class="player__information--dealer">Dealer</div>
            <div *ngIf="player.winner" class="player__information--winner">Winner</div>
        </div>
    </div>

    <div class="bet"
        [ngStyle]="{'transform': 'translate('+ visualSettings[playerNo].offsetX + 'px ,' + visualSettings[playerNo].offsetY + 'px)'}">
        <div class="bet__stack">
            <app-stacker [valor]="player.stage_contribution!"></app-stacker>
        </div>
        <div *ngIf="player.stage_contribution! > 0" class="bet__number"> ${{player.stage_contribution!}}</div>
    </div>

</div>


<div *ngIf="player.seatstate === 'not-active'" class="player not-active">
    <div>
        Empty
    </div>
</div>