<div class="poker-table">  

  <div class="poker-table__community">

    <div class="poker-table__community__pot">
      <div class="poker-table__community__pot__amount">Pot: ${{board.pot!}}</div>
      <div class="poker-table__community__pot__stack">
        <app-stacker [valor]="board.pot!"></app-stacker>
      </div>
    </div>
    <div class="poker-table__community__carts">
      <app-card-group [cards]="board.cards!" [overlap]="true"></app-card-group>
    </div>
    <div class="poker-table__blinds">
      <div>Blinds: {{board.smallBlind}} / {{board.bigBlind}}</div>
    </div>
  </div>

  <div class="poker-table__game">
    <div class="players" >
      <div class="player num--1">
        <app-poker-player class="player-component" [playerNo]="1" [player]="getPlayer(0)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/EVE-icon.png'" 
         >
        </app-poker-player>
      </div>
      <div class="player num--2">
        <app-poker-player class="player-component" [playerNo]="2" [player]="getPlayer(1)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/Wall-E-icon.png'" 
           ></app-poker-player>
      </div>
      <div class="player num--3">
        <app-poker-player class="player-component" [playerNo]="3" [player]="getPlayer(2)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/EVE-icon.png'" 
          >
        </app-poker-player>
      </div>
      <div class="player num--4">
        <app-poker-player class="player-component" [playerNo]="4" [player]="getPlayer(3)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/EVE-icon.png'" 
           >
        </app-poker-player>
      </div>
      <div class="player num--5">
        <app-poker-player class="player-component" [playerNo]="5" [player]="getPlayer(4)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/EVE-icon.png'" 
          >
        </app-poker-player>
      </div>
      <div class="player num--6">
        <app-poker-player class="player-component" [playerNo]="6" [player]="getPlayer(5)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/EVE-icon.png'" 
          >
        </app-poker-player>
      </div>
      <div class="player num--7">
        <app-poker-player class="player-component" [playerNo]="7" [player]="getPlayer(6)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/EVE-icon.png'" 
           >
        </app-poker-player>
      </div>
      <div class="player num--8">
        <app-poker-player class="player-component" [playerNo]="8" [player]="getPlayer(7)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/EVE-icon.png'"
         >
        </app-poker-player>
      </div>
      <div class="player num--9">
        <app-poker-player class="player-component" [playerNo]="9" [player]="getPlayer(8)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/EVE-icon.png'" 
          >
        </app-poker-player>
      </div>
      <div class="player num--10">
        <app-poker-player class="player-component" [playerNo]="10" [player]="getPlayer(9)"
          [imgurl]="'https://icons.iconarchive.com/icons/noctuline/wall-e/256/EVE-icon.png'"
          >
        </app-poker-player>
      </div>
    </div>

  </div>