.fast-forward {
  background-image: url(/assets/images/fast-forward.png);
  width: 256px;
  height: 256px;
  position: absolute;
  top: calc(50% - 128px);
  left: calc(50% - 128px);
  background-size: cover;
  z-index: 100;
}
