.card-group .card:first-child {
  margin: 0;
}

.card-group .card {
  width: 80px;
  margin-left: -64px;
}

.card-group .card {
  width: 80px;
  margin-left: -64px;
}

.card-group.community .card {
  width: 80px;
  margin-left: 8px;
}

.hand-compact .container .card:nth-child(1) {
  transform: rotate(-7deg) translateX(-8px);
}
.hand-compact .container .card:nth-child(2) {
  transform: rotate(5deg) translateX(8px);
}

.card-group.community {
  display: flex;
  justify-content: center;
}

.card-group.community .container {
  min-width: calc(5 * 80px + 5 * 8px);
  text-align: left;
}

.ghostCard {
  display: inline-block;
  margin: 0px 2px;
  width: 86px;
  height: 118px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.ghostCard:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/netcompany_logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85%;
  display: block;
  filter: invert();
  opacity: 0.4;
}

.comunity-cards {
  position: relative;
}

.comunity-cards__cards {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 100%;
}

.comunity-cards__cards img {
  width: 80px;
  margin-right: 10px;
}
