<form [formGroup]="form" autocomplete="off">
  <ng-container formArrayName="tables">
    <mat-table [dataSource]="tables.controls">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.get('id').value}}. </mat-cell>
      </ng-container>

      <ng-container matColumnDef="table">
        <mat-header-cell *matHeaderCellDef> Table file </mat-header-cell>
        <mat-cell *matCellDef="let element;" [formGroup]="element">
          <mat-form-field floatLabel="never" style="width: 100%">
            <input matInput (change)="onTableChange($event, element)" placeholder="table1.json" formControlName="table"
              required>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-container>
</form>
<!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Form value
      </mat-panel-title>
    </mat-expansion-panel-header>
    <code>
      {{form.value | json}}
    </code>
  </mat-expansion-panel>
</mat-accordion> -->
<br>
<div id="play_controls_container">
  <div class="play_control">
    <button id="load_button" (click)="loadForAll()">
      Load
    </button>
    <button id="play_button" (click)="startForAll()">
      {{isPlaying ? "Pause" : "Play"}}
    </button>
  </div>
  <p>{{status}}</p>
</div>